<h1>Genius is not the answer to all questions.</h1>
<h1>It's the question to all answers -Tablo</h1>
<% @lyrics.each do |lyric| %>
  <a href="<%= lyric_url(lyric) %>"><%= lyric.track_title %></a>
  <br>
<% end %>
