<div class="auth">
  <h2>Login</h3>
  <form action="<%= session_url %>" method="post">
    <%= render "shared/auth_token" %>
    <input class="username" placeholder=" Username" type="text" name="user[username]">

    <br>
    <input class="password" placeholder=" Password" type="password" name="user[password]">

    <br>
    <button class="user">Login</button>
  </form>
  <form action="<%= session_url %>" method="post">
    <%= render "shared/auth_token" %>
    <input type="hidden" name="user[username]" value="guest">
    <input type="hidden" name="user[password]" value="password">
    <button class="guest">Login As Guest</button>
  </form>
</div>
