<h2 class="login-header">GENIUS</h2>
<form action="<%= session_url %>" method="post">
  <%= render "shared/auth_token" %>
  <label>Username
    <input type="text" name="user[username]">
  </label>
  <br>
  <label>Password
    <input type="password" name="user[password]">
  </label>
  <br>
  <button>Log In</button>
</form>
