<article class="user-about-me">
  <h2>About <%= user.escape("username") %></h2>
  <section><%= user.escape("about_me") %></section>
  <% if (currentUserId === user.id) { %>
    <button class="edit-about-me">Edit About Me</button>
  <% } %>
</article>
