<a href="#/lyrics/<%= anno.escape("lyric_id") %>">
  <li class="lyric-track-title group">
    <section><%= anno.escape("track_title") %>&nbsp;</section>
    <section><%= anno.escape("lyric_text") %></section>
  </li>
  <div id="li-bot-border"></div>
</a>
