<a href="/#/users/<%= user.id %>">
  <div id="li-top-border"></div>
  <li class="username-iq group">
    <section><%= user.escape("username") %>:&nbsp;</section>
    <section><%= user.escape("genius_iq") %></section>
  </li>
  <div id="li-bot-border"></div>
</a>
