<a href="/#/lyrics/<%= lyric.id %>">
  <li class="lyric-track-title group">
    <section><%= lyric.escape("track_title") %>&nbsp;</section>
    <section>by <%= lyric.escape("artist_name") %></section>
  </li>
  <div id="li-bot-border"></div>
</a>
