<h1>Change Profile Picture</h1>
<label>
  Image
  <input type="file" name="user[image]" id="input-user-image">
</label>
<img src="" id="preview-user-image" width="50">
<button class="buttons" id="#pic-save">Save</button>
<button class="buttons" id="#pic-cancel">Cancel</button>
