<h1>Add Profile Picture</h1>

<form>
  <label>
    Image
    <input type="file" name="user[image]" id="input-user-image">
  </label>

  <br>

  <img src="" id="preview-user-image">

  <br>

  <button class="submit-pic">Save</button> or <a href="#">Cancel</a>

</form>
