<article class="profile">
  <section class="prof-pic">
    <img src="<%= user.escape("image_url") %>">
  </section>
  <% if (currentUserId === user.id) { %>
    <section class="edit-prof-pic">
      Edit Profile Picture
    </section>
  <% } %>
  <section class="genius-iq">
    Genius IQ: <%= user.escape("genius_iq") %>
  </section>
  <section class="lyrics">
    Lyrics
  </section>
  <section class="annotations">
    Annotations
  </section>

  <section class="about-me">
    About <%= user.escape("username") %>
  </section>
</article>
