<article class="profile">
  <img>
  <section class="username">
    <%= user.escape("username") %>
  </section>
  <section class="genius-iq">
    Genius IQ: <%= user.escape("genius_iq") %>
  </section>
  <section class="lyrics">
    Lyrics
  </section>
  <section class="annotations">
    Annotations
  </section>
  <section class="about-me">
    About Me
  </section>
</article>
<ul class="user-links">
</ul>
