<article class="profile">
  <img>
  <section class="username">
    <%= user.escape("username") %>
  </section>
  <section class="genius-iq">
    Genius IQ: <%= user.escape("genius_iq") %>
  </section>
  <section class="lyrics">
    Lyrics
  </section>
  <section class="annotations">
    Annotations
  </section>
  <section class="about-me">
    About Me
  </section>
</article>
<article class="profile-link">
</article>
<!-- <article class="about-me">
  <h1>About Me</h1>
  <section><%= user.escape("about_me") %></section>
  <button class="edit">Edit About Me</button>
</article> -->
<!-- <ul class="user-lyrics"></ul>
<ul class="user-annos"></ul> -->
