<div class="anno-heading">Edit Annotation</div>
<div class="anno-info">
  <div class="anno-l">Lyric</div>
  <div class="anno-hl"><%= annotation.escape("lyric_text") %></div>
</div>
<form class="anno-editform">
  <textarea class="anno-textarea" name="annotation[annotation]">
    <%= annotation.escape("annotation") %>
  </textarea>
</form>
<button id="edit-save">Save</button>
<button id="edit-cancel">Cancel</button>
