<div id="anno-heading">Create Annotation</div>
<div id="anno-lyric">
  <div>Lyric</div>
  <div>"<%= sel %>"</div>
</div>
<textarea id="anno-anno" name="annotation[annotation]"></textarea>
<button id="anno-save">Save</button>
<button id="anno-cancel">Cancel</button>
