<h2>Lyric</h2>
<h3 class="lyric-text"><%= annotation.escape("lyric_text") %></h3>
<h2>Annotation</h2>
<h3 class="lyric-anno"><%= annotation.escape("annotation") %></h3>
<button class="edit-anno">Edit</button>
