<div id="anno-user">
  Contributed by
  <a href="#/users/<%= annotation.escape("user_id") %>">
    <%= username %>
  </a>
</div>

<div class="anno-anno">
  <div id="anno-at"><%= annotation.escape("annotation") %></div>
</div>
<div class="anno-buttons">
  <button id="upvote"><%= upvoted %></button>
  <button id="edit-anno">Edit</button>
</div>
