<section class="signup">
  <h2>Sign Up</h2>
  <form action="<%= users_url %>" method="post">
    <%= render "shared/auth_token" %>
      <input class="email" placeholder="Email" type="text" name="user[email]">
    <br>
      <input class="username" placeholder="Username" type="text" name="user[username]">
    <br>
      <input class="password" placeholder="Password" type="password" name="user[password]">
    <br>
    <button>Sign Up</button>
  </form>
</seciton>
