<div class="auth signup">
  <h1>Sign Up</h1>
  <form action="<%= users_url %>" method="post">
    <%= render "shared/auth_token" %>
      <input class="email" placeholder="Email" type="text" name="user[email]">
      <input class="username" placeholder="Username" type="text" name="user[username]">
      <input class="password" placeholder="Password" type="password" name="user[password]">
    <button class="signup-button">Sign Up</button>
  </form>
</div>
