<h2>Create Lyric</h2>
<ul class="errors"></ul>
<label class="title-label">Title
  <input class="title" type="text" name="lyric[track_title]"
         value="<%= lyric.escape("track_title") %>">
</label>
<br>
<label>Artist
  <input class="artist" type="text" name="lyric[artist_id]"
         value="<%= lyric.artist().escape("name") %>">
</label>
<br>
<label>Lyric
  <textarea class="lyric" name="lyric[lyric]"><%= lyric.escape("lyric") %></textarea>
</label>
<br>
<button class="submit-lyric">Submit</button>
