<h1>Create Lyric</h1>
<div class="info group">
  <h2>Information</h2>
  <h2>*required</h2>
</div>
<div class="input-desc">*Title</div>
<div class="title-input group">
  <input id="title" type="text" name="lyric[track_title]" value="<%= lyric.escape("track_title") %>">
  <div class="title-error"></div>
</div>
<div class="input-desc">*Artist</div>
<div class="artist-input group">
  <input id="artist" type="text" name="lyric[artist_id]" value="<%= lyric.artist().escape("name") %>">
  <div class="artist-error"></div>
</div>
<div class="input-desc">*Lyric</div>
<div class="group" id="lyric-input">
  <textarea id="lyric" name="lyric[lyric]"><%= lyric.escape("lyric") %></textarea>
  <div class="lyric-error"></div>
</div>
<div id="bot-border"></div>
<button id="lyric-submit">Submit</button>
