<label>Track Title
  <input type="text" name="lyric[track_title]"
         value="<%= lyric.escape("track_title") %>">
</label>
<br>
<label>Artist
  <input type="text" name="lyric[artist_name]"
         value="<%= lyric.artist().escape("name") %>">
</label>
<br>
<label>Lyric
  <textarea name="lyric[lyric]" rows="100" cols="50"><%= lyric.escape("lyric") %></textarea>
</label>
<br>
<button class="create-lyric">Submit</button>
