<label>Track Title
  <input type="text" name="lyric[track_title]"
         value="<%= lyric.track_title %>">
</label>
<br>
<label>Artist
  <input type="text" name="lyric[artist_name]">
</label>
<br>
<label>Lyric
  <textarea name="lyric[lyric]" rows="100" cols="50"><%= lyric.lyric %></textarea>
</label>
<br>
<button class="create-lyric">Submit</button>
