<a href="/#/lyrics/<%= lyric.id %>">
  <li class="lyric-track-title group">
    <section><%= lyric.escape("track_title") %>&nbsp;</section>
    <section>by <%= lyric.artist().escape("name") %></section>
  </li>
</a>
