$colorBlack: #000000;
$colorRed: #CE1141;

.anno-form, .anno-show, .anno-edit {
  float: left;
  width: 40%;

  .anno-heading {
    font-size: 30px;
    font-weight: bold;

  }

  #anno-user { font-size: 24px;}


  .anno-textarea {
    height: 48px;
    margin: 5px 0 5px 0;
    overflow: auto;
    resize: none;
    width: 100%;
    word-wrap: break-word;
  }

  a {
    color: $colorRed;

    &:hover { text-decoration: underline; }
  }

  .anno-textarea, .anno-anno {
    border-radius: 2px;
    margin: 15px 0 15px 0;
    resize: none;
    width: 100%;
    word-wrap: break-word;

    #anno-at {
      font-size: 18px;
      margin-bottom: 5px;
    }

    #anno-user {
      float: right;
    }
  }
}
