$colorBlack: #000000;
$colorRed: #CE1141;

.anno-form {
  float: left;
  width: 40%;

  #anno-heading {
    font-size: 30px;
    font-weight: bold;

  }

  #anno-lyric {
    margin-top: 5px;
    width: 87%;

    #anno-h { font-size: 24px; }

    #anno-hl {
      color: $colorRed;
      font-size: 16px;
      font-style: italic;
      margin-top: 3px;
    }
  }

  #anno-anno {
    background-color: rgba(204,204,204,.2);
    height: 48px;
    margin: 5px 0 5px 0;
    overflow: auto;
    padding: 3px;
    resize: none;
    width: 87%;
    word-wrap: break-word;
  }

}
