.anno-show {
  float: right;
  padding: 20px;
  margin: 185px 0 0 0;
  width: 400px;
  border: 1px solid #000;
  background: #FFCC33;
}

.anno-show h1 {
 font-size: 24px;
 font-weight: bold;
}

.anno-show h2 {
  display: block;
  padding: 20px 0 10px 0 ;
  font-weight: bold;
}

.anno-show h3 {
  font-style: italic;
}

.anno-show .lyric-text {
  font-style: italic;
}

.anno-show .lyric-anno {
  padding: 0 0 20px 0;
}

.anno-show .edit-anno {
  float: right;
  border-radius: 25px;
  text-transform: uppercase;
  padding: 0 10px 0 10px;
  border: 1px solid #000;
  text-align: center;
  background: #fff;
}

.anno-show .upvote {
  float: left;
  border-radius: 25px;
  text-transform: uppercase;
  padding: 0 10px 0 10px;
  border: 1px solid #000;
  text-align: center;
  background: #fff;
}

.anno-show .upvote:hover {
  background: #ccc;
  cursor: pointer;
}

.anno-show .edit-anno:hover {
  background: #ccc;
  cursor: pointer;
}

.anno-show .anno-textarea {
  display: block;
  width: 400px;
  margin: 20px auto;
  border: 1px solid #000;
  padding-left: 5px;
  padding-top: 5px;
  background: #fff;
}

.anno-show .submit-edit-anno {
  display: block;
  border-radius: 25px;
  text-transform: uppercase;
  padding: 0 10px 0 10px;
  border: 1px solid #000;
  text-align: center;
  background: #fff;
}

.anno-show .submit-edit-anno:hover {
  background: #ccc;
  cursor: pointer;
}

.anno-show a {
  color: #04529C;
}

.anno-show a:hover {
  text-decoration: underline;
}
