.anno-show {
  float: right;
  padding: 20px;
  width: 200px;
  border: 1px solid #ccc;
}

.anno-show .edit-anno {
  display: block;
  border-radius: 25px;
  text-transform: uppercase;
  padding: 0 10px 0 10px;
  border: solid 1px #ccc;
  text-align: center
}
