.genius .artist-name {
  font-size: 32px;
  font-weight: bold;
  padding: 50px 0 20px 0;
}

.artist-h3 {
  font-size: 28px;
  font-weight: bold;
  padding: 10px 0 20px 0;
}
.artist-lyrics > li {
  font-size: 20px;
  padding: 3px 0 0 0;
}
