.genius .artist-name {
  font-size: 24px;
  font-weight: bold;
  padding: 20px 0 0 0;
}

.artist-h3 {
  font-size: 20px;
  font-weight: bold;
  padding: 10px 0 10px 0;
}
.artist-lyrics > li {
  padding: 3px 0 0 0;
}
