$colorBlack: #000000;
$colorRed: #CE1141;
$colorWhite: #FFFFFF;

div.req-login {
  color: $colorRed;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: bold;
  margin: 20px auto 0 auto;
  width: 190.266px;
}

.auth.login { height: 226px; }

.auth {
  border: 3px solid $colorBlack;
  border-radius: 3px;
  font-family: 'Roboto', sans-serif;
  margin: 40px auto 0 auto;
  width: 340px;

  h1 {
    color: $colorRed;
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
  }

  input {
    border: 2px solid $colorBlack;
    border-radius: 3px;
    height: 25px;
    padding-left: 3px;
    margin: 10px 43px 0 43px;
    transition-duration: .4s;
    transition-property: border;
    width: 250px;

    .password {
      position: relative;
    }

    &:focus {
      border: 2px solid $colorRed;
      transition-duration: .3s;
      transition-property: border;
    }
  }

  .errors {
    color: $colorRed;
    display: block;
    margin: 10px auto 0 auto;
    text-transform: uppercase;
    width: 300.25px;
  }

  .user-login, .guest-login, .signup-link { position: absolute; }

  .user-login {
    margin: 10px 0 0 43px;
  }

  .guest-login {
    margin: 10px 0 0 182.297px;
  }

  .signup-link {
    font-weight: bold;
    margin: 51px 58.422px 0 58.422px;

    a {
      border-bottom: 1px solid transparent;
      color: $colorRed;
      text-decoration: none;
      transition: all ease-in-out .3s;

      &:hover {
        border-color: $colorRed;
      }
    }
  }

  .signup-button {
    margin: 10px 0 10px 136.75px;
  }

}
