div.req-login {
  color: $colorRed;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  margin: 20px auto 0 auto;
  width: max-content;
}

.auth.login { height: 226px; }

.auth {
  border: 3px solid $colorBlack;
  font-family: 'Roboto', sans-serif;
  margin: 40px auto 0 auto;
  width: 340px;

  h1 {
    font-size: 22px;
    margin-top: 10px;
    text-align: center;
  }

  input {
    border: 2px solid $colorBlack;
    height: 25px;
    padding-left: 3px;
    margin: 10px 43px 0 43px;
    width: 250px;

    .password {
      position: relative;
    }

    &:focus {
      border: 2px solid $colorRed;
    }
  }

  .errors {
    color: $colorRed;
    display: block;
    margin: 10px auto 0 auto;
    text-transform: uppercase;
    // width: 246.75px;
    width: 300.25px;
  }

  .user-login, .guest-login, .signup-link { position: absolute; }

  .user-login {
    margin: 10px 0 0 43px;
  }

  .guest-login {
    margin: 10px 0 0 182.297px;
  }

  .signup-link {
    margin: 51px 58.422px 0 58.422px;

    a {
      color: $colorRed;
    }
  }

  .signup-button {
    margin: 10px 0 10px 136.75px;
  }

}
