button {
  display: block;
  border: 2px solid black;
  border-radius: 3px;
  font-weight: bold;
  padding: 3px;
  transition-duration: .4s;
  transition-property: color;

  &:hover {
    color: #CE1141;
    cursor: pointer;
    transition-duration: .3s;
    transition-property: color;
  }
}
