$colorBlack: #000000;
$colorRed: #CE1141;
$colorWhite: #FFFFFF;

.header {
  border-bottom: 1px solid $colorBlack;
  font-family: 'Roboto', sans-serif;
  padding: 10px 10px 0 10px;

  .header-list {
    margin-bottom: 12px;

    li { float: left; }

    .header-logo {
      float: left;
      font-family: 'Dancing Script', cursive;
      font-size: 26px;
    }

    .not-logo {
      float: right;

      .user, .create-lyric, .login-link { padding: 6px 3px 3px 3px; }

      li { margin-right: 10px; }

      .search-bar input {
        border: 2px solid $colorBlack;
        height: 25px;
        padding-left: 3px;
        width: 250px;
      }

      li.logout-link {
        padding-top: 3px;
        margin: 0;
      }

      .logout-link button {
        border: none;
      }
    }

    a:hover {
      color: $colorRed;
    }
  }
}

.header-img {
  background-image: image-url("logic.png");
  background-size: cover;
  border-bottom: 1px solid $colorBlack;
  height: 200px;
}
