/* --- HEADER --- */

.header {
  font-family: 'Roboto', sans-serif;
  color: white;
  background: black;
  margin: auto;
  width: 1050px;
}

.header a {
  display: block;
  padding: 10px 20px;
  border-left: 1px solid #ccc;
}

.header a:hover {
  color: #FFFF99;
}

.header .slogan {
  float: left;
  padding: 10px 20px;
}

.header .slogan:hover {
  cursor: default;
}

.header-nav {
  border-bottom: 1px solid #ccc;
}

.header-logo {
  float: left;
  border-right: 1px solid #ccc;
  font-weight: bold;
}

.header-list {
  float: right;
}

.header-list > li {
  float: left;
}

.header-list .logout {
  display: block;
  padding: 10px 20px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.header-list .logout:hover {
  color: #FFFF99;
  cursor: pointer;
}
