$colorBlack: #000000;
$colorRed: #CE1141;

.index {
  border-right: 1px solid $colorRed;
  width: calc(50% - 40px);

  ul {
    margin-top: 10px;

    li {
      border: 2px solid $colorBlack;
      border-radius: 3px;
      font-size: 20px;
      margin-top: 5px;
      padding: 5px;
      width: calc(100% - 40px);

      &:hover { color: $colorRed; }

      section { float: left; }

      section:first-child {
        font-size: 22px;
        font-weight: bold;
      }

      section:last-child { margin-top: 2px; }
    }
  }
}
