.genius #main {
  width: 1100px;
  font-family: 'Roboto', sans-serif;
}

.index {
  font-size: 32px;
  font-weight: bold;
  padding: 20px 0 0 0;
}

.index h1 {
  font-size: 28px;
  font-weight: bold;
  text-decoration: underline;
  text-decoration-color: red;
  width: 800px;
  margin: auto;
}

ul.lyrics {
  float: left;
  padding: 20px 0 0 0;
  width: 500px;
  border-right: 1px solid #ccc;
}


.lyric-track-title {
  display: block;
  font-size: 20px;
  color: #04529C;
  padding: 0 0 10px 0;
}
.lyric-track-title a:hover {
  text-decoration: underline;
}
