.genius #main {
  width: 1100px;
  font-family: 'Roboto', sans-serif;

}

.index {
  font-size: 32px;
  font-weight: bold;
  padding: 20px 0 0 0;
}

.header-img {
  width: 1100px;
  height: 200px;
  background-image: image-url("logic6.jpg");
  border-right: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.header-img section {
  color: #fff;
  font-weight: bold;
  font-size: 28px;
  text-align: center;
}

ul.lyrics {
  float: left;
  padding: 20px 0 0 0;
  width: 500px;
  border-right: 1px solid #ccc;
}


.lyric-track-title {
  display: block;
  font-size: 20px;
  color: #04529C;
  padding: 0 0 10px 0;
}
.lyric-track-title a:hover {
  text-decoration: underline;
}
