.login {
  display:block;
  margin: 20px auto;
  padding: 20px 0 20px 0;
  width: 700px;
  border: 1px solid #ccc;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.login h2 {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  padding: 0 0 20px 0;
}

.login label {
  display: block;
  font-size: 18px;
}

.login input {
  text-align: left;
}

.login .username {
  border: solid 1px #ccc;
  padding: 0 100px 0 0 ;
}

.login .password {
  border: solid 1px #ccc;
  padding: 0 100px 0 0 ;
}

.login button {
  border-radius: 25px;
  text-transform: uppercase;
  padding: 0 10px 0 10px;
  border: solid 1px #ccc;
  text-align: center
}

.login button:hover {
  background: #ccc;
  cursor: pointer;
}
