$colorBlack: #000000;
$colorRed: #CE1141;
$colorWhite: #FFFFFF;

.auth {
  border: 3px solid $colorBlack;
  font-family: 'Roboto';
  height: 208px;
  margin: 40px auto 0 auto;
  width: 340px;

  h1 {
    font-size: 22px;
    margin-top: 10px;
    text-align: center;
  }

  input {
    border: 3px solid $colorBlack;
    height: 25px;
    padding-left: 3px;
    margin: 10px 43px 0 43px;
    width: 250px;

    .password {
      position: relative;
    }
  }

  .user-login, .guest-login, .signup-link { position: absolute; }

  .user-login {
    margin: 10px 0 0 43px;
  }

  .guest-login {
    margin: 10px 0 0 182.297px;
  }

  .signup-link {
    margin: 51px 58.422px 0 58.422px;

    a {
      color: $colorRed;
    }
  }
}

.header-img {
  background-image: image-url("logic.png");
  background-size: cover;
  border-bottom: 1px solid $colorBlack;
  height: 200px;

  section {
    color: $colorWhite;
    font-family: 'Roboto';
    font-size: 20px;
    margin: 60px 0 0 50px;
  }
}
