$colorBlack: #000000;
$colorRed: #CE1141;
$colorWhite: #FFFFFF;

.lyric-show {
  float: left;
  width: 60%;

  a {
    color: $colorRed;

    &:hover { text-decoration: underline; }
  }

  .annotation {
    color: $colorBlack;
    background: #D0D8E1;
    border-radius: 2px;

    &:hover {
      background: #F9F1B5;
      text-decoration: none;
    }
  }

  #artist {
    font-size: 26px;
    font-weight: bold;
    margin-top: 5px;
  }

  #user, #edit {
    font-size: 20px;
  }

  #lyric {
    font-size: 18px;
    margin-top: 10px;
  }
}
