$colorBlack: #000000;
$colorRed: #CE1141;

.lyric-form {
  margin: 40px;

  h1 {
    font-size: 30px;
    font-weight: bold;
  }

  .info {
    margin-top: 10px;
    border-bottom: 1px solid $colorRed;

    h2:first-child {
      float: left;
      font-size: 24px;
    }

    h2:last-child {
      float: right;
      margin-top: 10px;
    }
  }

  .input-desc {
    font-size: 14px;
    margin: 15px 0 2px 0;
  }

  input, textarea {
    border: 2px solid $colorBlack;
    width: 470px;
  }

  textarea {
    margin: 0 0 15px 0;
    resize: none;
  }

  .bot-border {
    border-top: 1px solid $colorRed;
    margin-bottom: 10px;
  }
}
