.genius {
  font-family: 'Roboto', sans-serif;
  padding: 20px 0 0 20px;
}

.genius h2 {
  display: block;
  padding: 0 0 10px 0;
  font-weight: bold;
  font-size: 24px;
}

.genius .artist-edit {
  font-size: 18px;
  padding: 0 0 10px 0;
}

.genius a:hover {
  background: #eee;
}
