$colorBlack: #000000;
$colorLightGrey: #D0D8E1;
$colorRed: #CE1141;
$colorLighterGrey: #E9E9E9;

.user-show {

  #prof-pic, #edit-prof-pic, #lyrics, #annotations, {
    &:hover { cursor: pointer; }
  }

  .left-side {
    float: left;
    margin-right: 100px;
    width: 240px;

    #username {
      color: $colorRed;
      border-bottom: 5px solid $colorLightGrey;
      font-size: 28px;
      font-weight: bold;
      padding-bottom: 10px;
      overflow: hidden;
    }

    #prof-pic {
      padding: 10px 0 10px 0;
    }

    #edit-prof-pic, #edit-about-me {
      margin: 10px auto;
    }

    #lyrics-iq, #about-me {
      border-top: 5px solid $colorLightGrey;
      padding: 10px 0;
    }

    #lyrics-iq {
      font-size: 24px;
      font-weight: bold;
    }

    #about-me {
      border-bottom: 5px solid $colorLightGrey;
      margin-bottom: 40px;

      #about {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 5px;
      }

      .box {

        #desc { font-size: 18px; }

        .user-about-me {

          textarea {
            background: $colorLighterGrey;
            height: 240px;
            padding: 5px;
            resize: none;
            width: 240px;
          }

          .buttons {
            display: block;
            margin: 0 auto;
            width: 120px;

            button { float: left; }

            #save-about-me { margin-right: 10px; }
          }
        }
      }
    }
  }

  .right-side {
    float: left;
    width: 660px;

    #tabs {

      #tab-lyrics, #tab-annotations {
        float: left;
        font-size: 26px;
        font-weight: bold;
        margin-right: 10px;

        .tab {
          padding: 6px;
          transition-duration: .1s;
          transition-property: padding;

          &:hover {
            padding: 11px 6px 1px 6px;
            transition-duration: .1s;
            transition-property: padding;
          }
        }

        .tab-border {
          border-top: 5px solid $colorLightGrey;
        }

        .clicked {
          border-top: 5px solid $colorRed;
        }

        &:hover {
          cursor: pointer;

          .tab-border {
            border-top: 5px solid $colorRed;
          }
        }
      }
    }

    #under-tabs {
      ul {
        margin-top: 10px;

        #li-bot-border {
          border-top: 2px solid #d0d8e1;
        }

        li {
          color: $colorRed;
          height: 26px;
          padding: 5px 0 5px 0px;
          transition-duration: 0.1s;
          transition-property: padding;

          &:hover {
            border-left: 5px solid $colorRed;
            padding: 5px 0 5px 5px;
            transition-duration: 0.1s;
            transition-property: padding;
          }

          section { float: left; }

          section:first-child {
            font-size: 22px;
            font-weight: bold;
          }

          section:last-child {
            color: $colorBlack;
            font-size:18px;
            font-weight: bold;
            margin-top: 2.5px;
          }
        }
      }

      .prof-pic-form {
        margin-top: 10px;

        h1 {
          color: $colorRed;
          font-size: 22px;
        }

        label { margin-top: 10px; }

        .buttons {
          float: left;
          margin-right: 10px;
        }
      }
    }
  }
}
