.profile {
  font-family: 'Roboto', sans-serif;
  width: 1100px;
  margin: 20px auto;
}

.profile img {
  content: "profile pic";
  width: 200px;
  height: 200px;
  border: 1px solid #000;
  margin: 20px 0 20px 0;

}

.profile:nth-child(3) {
  background: green;
  border-top: 1px solid #000;
}

.profile section {
  padding: 10px 0 10px 0;

  width: 200px;
  border-bottom: 1px solid #000;
}
