$colorBlack: #000000;
$colorGreyBlue: #D0D8E1;
$colorRed: #CE1141;
$colorLightGrey: #E9E9E9;

.user-show {

  #prof-pic, #edit-prof-pic, #lyrics, #annotations, {
    &:hover { cursor: pointer; }
  }

  .left-side {
    float: left;
    margin-right: 100px;
    width: 240px;

    #username {
      color: $colorRed;
      border-bottom: 5px solid $colorGreyBlue;
      font-size: 28px;
      font-weight: bold;
      padding-bottom: 10px;
      overflow: hidden;
    }

    #prof-pic {
      padding: 10px 0 10px 0;
    }

    #edit-prof-pic, #edit-about-me {
      margin: 10px auto;
    }

    #lyrics-iq, #about-me {
      border-top: 5px solid $colorGreyBlue;
      padding: 10px 0;
    }

    #lyrics-iq {
      font-size: 24px;
      font-weight: bold;
    }

    #about-me {
      border-bottom: 5px solid $colorGreyBlue;
      margin-bottom: 40px;

      #about {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 5px;
      }

      .box {

        #desc { font-size: 18px; }

        .user-about-me{
          textarea {
            background: $colorLightGrey;
            height: 300px;
            padding: 5px;
            resize: none;
            width: 240px;
          }
          button { margin: 10px auto; }
        }
      }

    }
  }

  .right-side {
    float: left;
  }
}
