h1.search-results {
  font-size: 32px;
  font-weight: bold;
  margin: 20px 0 0 0;
}

.lyric-search-item {
  font-size: 22px;
  color: #04529C;
  margin: 10px 0 0 0;

}
.lyric-search-item a:hover{
  text-decoration: underline;
}

.searched-lyrics {
  margin: 10px 0 0 0;
  font-size: 22px;
}
