.signup {
  display:block;
  margin: 150px auto;
  padding: 20px 0 20px 0;
  width: 400px;
  height: 240px;
  border: 1px solid #FFCC33;
  border-radius: 5px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.signup h2 {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  padding: 0 0 20px 0;
}

.signup .email-label {
  display: block;
  font-size: 18px;
}

.signup label {
  display: block;
  font-size: 18px;
}

.signup input {
  width: 300px;
  height: 25px;
  padding: 0 0 0 10px;
  margin: 0 0 20px 0;
  border: 1px solid #DEDEDE;
  border-radius: 5px;
  text-align: left;
}

.signup input:focus {
  border: 1px solid #787878;
}

.signup button {
  color: #fff;
  background: #26282A;
  padding: 5px 15px;
  margin: 15px 0 0 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
}

.signup button:hover {
  background: #ccc;
  cursor: pointer;
}


textarea:focus {
  outline: none;
  border-color: #9ecaed;
  box-shadow: 0 0 10px #9ecaed;
}
