.signup {
  display:block;
  margin: 20px auto;
  padding: 20px 0 20px 0;
  width: 700px;
  border: 1px solid #ccc;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.signup h2 {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  padding: 0 0 20px 0;
}

.signup .email-label {
  display: block;
  font-size: 18px;
  padding: 2px 20px 0 0px;
}

.signup label {
  display: block;
  font-size: 18px;
  padding: 2px 0 0 10px;
}

.signup input {
  text-align: left;
}

.signup .username {
  border: solid 1px #ccc;
  padding: 0 100px 0 0 ;
}

.signup .email {
  border: solid 1px #ccc;
  padding: 0 100px 0 0 ;
}

.signup .password {
  border: solid 1px #ccc;
  padding: 0 100px 0 0 ;
}

.signup button {
  border-radius: 25px;
  text-transform: uppercase;
  padding: 0 10px 0 10px;
  border: solid 1px #ccc;
  text-align: center
}

.signup button:hover {
  background: #ccc;
  cursor: pointer;
}
