<div class="search-bar">
  <input class="search-bar" placeholder="Lyric Title" type="text" id="query">
  <button class='search'>Search</button>
</div>




<ul id="search-results"></ul>
<pre id="pages"></pre>
<a href="javascript:void(0)" class="next-page">Next Page</a>
